In [60]:
import pandas as pd
df = pd.read_excel('20230103_인구.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y')
df[0:3]
df.tail()
df[df.columns[-1]]

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [63]:
# index_col = 0 첫번째 컬럼을 index로 지정
# skiprows: 상단부분 제외
# nrows: rows 데이터 가져오기
# usecols: 특정 컬럼 부분 가져오기

df = pd.read_excel('20122022_출생.xlsx',skiprows=2,nrows=3,usecols='B:M',index_col=0)
df.index.name = '제목'
df.index

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980
출생아수(명),"1,006,645","1,024,773","952,780","965,521","922,823","874,030","796,331","825,339","750,728","862,669","862,835"
조출생률(인구1천명당 명),31.2,31.2,28.4,28.3,26.6,24.8,22.2,22.7,20.3,23.0,22.6
합계출산율(가임여성1명당 명),4.530,4.540,4.120,4.070,3.770,3.430,3.000,2.990,2.640,2.900,2.820

In [65]:
df.index.values

array(['출생아수(명)', '조출생률(인구1천명당\xa0명)', '합계출산율(가임여성1명당\xa0명)'],
      dtype=object)

In [64]:
df.loc['출생아수(명)'] # index 명 확인!! (df.index.values)

1970    1,006,645
1971    1,024,773
1972      952,780
1973      965,521
1974      922,823
1975      874,030
1976      796,331
1977      825,339
1978      750,728
1979      862,669
1980      862,835
Name: 출생아수(명), dtype: object

In [67]:
df.rename(index={'합계출산율(가임여성1명당\xa0명)':'합계출산율(가임여성1명당 명)'},inplace=True)

In [70]:
df.rename(index={'조출생률(인구1천명당\xa0명)':'조출생률(인구1천명당 명)'},inplace=True)
df

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980
출생아수(명),"1,006,645","1,024,773","952,780","965,521","922,823","874,030","796,331","825,339","750,728","862,669","862,835"
조출생률(인구1천명당 명),31.2,31.2,28.4,28.3,26.6,24.8,22.2,22.7,20.3,23.0,22.6
합계출산율(가임여성1명당 명),4.530,4.540,4.120,4.070,3.770,3.430,3.000,2.990,2.640,2.900,2.820

In [72]:
df = df.T #rows, columns축 변경
df

        출생아수(명) 조출생률(인구1천명당 명) 합계출산율(가임여성1명당 명)
1970  1,006,645           31.2            4.530
1971  1,024,773           31.2            4.540
1972    952,780           28.4            4.120
1973    965,521           28.3            4.070
1974    922,823           26.6            3.770
1975    874,030           24.8            3.430
1976    796,331           22.2            3.000
1977    825,339           22.7            2.990
1978    750,728           20.3            2.640
1979    862,669           23.0            2.900
1980    862,835           22.6            2.820